<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BroadcastExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>sampleiOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD0CCFF121AE75E7001711B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD0CD00521AE75EE001711B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD0CD01021AE75EE001711B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD3E63632507B67B001CADFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD65756C2507508700E13595</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD6575762507508700E13595</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD6CF1DE2500B9ED00B23CD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD6CF1E82500B9EE00B23CD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD6CF2142500F8A800B23CD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD6CF21E2500F8A800B23CD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD6CF2352500F9E800B23CD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD6CF23F2500F9E800B23CD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD7DE82D24FFA22200DB74E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD7DE83724FFA22200DB74E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDC6E587250D28A700DC3387</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDC6E591250D28A700DC3387</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDC6E5D3250D29D100DC3387</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDC6E5EA250D29FA00DC3387</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
